{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body background="black">

    {% block content %}
    {% endblock %}
</body>
<div class="fixed-bottom">
    <footer class="container-expand-lg position-sticky fixed-bottom bg-dark">
        <hr>
        <p class="float-right navbar-brand "><a href="#">Back to top</a></p>
        <p class="navbar-brand text-light ">&copy; 2021-2022 DyTabels, Inc. &middot; </p>
    </footer>
</div>

</html>